@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500');
@import url('font-awesome.min.css');
@import url('glide.core.min.css');
@import url('glide.css');

html, body {
  width: 100%;
  height: 100%;
}

html {
  font: 300 16px/1.4 'Fira Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

p {
  margin: 20px 0;
}

h1, h2 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
  padding: 40px 20px;
  text-align: center;
}

@supports(padding: max(0px)) {
  .header {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

.header-logo {
  width: 260px;
  height: 19px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 540px;
    height: 42px;
  }
}

.header-logo:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url('../images/logo_new.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header-logo a {
  position: relative;
  display: block;
  height: 100%;
  border: none;
}

.header-title {
  margin: 0 0 30px 0;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 18px;
  }
}

.header-slogan {
  margin: 0 auto;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .header-slogan {
    max-width: 800px;
    font-size: 18px;
  }
}

.nav {
  overflow-y: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .nav-item {
    position: relative;
    padding: 0 20px;
  }
}

.nav-item::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item:last-child::after {
  display: none;
}

.nav-item.selected {
  color: #999;
}

.nav-item.selected a {
  border-bottom: none;
  color: rgba(255, 255, 255, 0.7);
}

.main {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

@supports(padding: max(0px)) {
  .main {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

@media screen and (min-width: 768px) {
  .article {
    margin: 0 auto;
    max-width: 800px;
  }
}

.article-img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  width: 100%;
}

.release {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .release-header {
    text-align: left;
  }
}

.release-caption {
  margin: 0;
  font-size: 16px;
  display: none;
}

@media screen and (min-width: 768px) {
  .release-caption {
    font-size: 18px;
  }
}

.release-title {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.release-title a {
  border-bottom: none;
}

.release-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.release-additional {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.release-info {
  margin-bottom: 20px;
  font-size: 16px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .release-info {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .release-info {
    overflow: hidden;
  }
}

.release-info-desc {
  position: relative;
}

@media screen and (min-width: 768px) {
  .release-info-desc {
    overflow: hidden;
    padding-left: 20px;
  }
}

.release-info-desc ol {
  display: inline-block;
  padding: 0;
  margin: 0;
  counter-reset: item;
  list-style: none;
  white-space: nowrap;
  text-align: left;
}

.release-info-desc ol li {
  position: relative;
  margin-bottom: 7px;
}

.release-info-desc ol li:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  content: counter(item);
  counter-increment: item;
  color: #999;
}

.release-info-desc ol li a {
  border-bottom: none;
}

.release-info-desc ol li .duration {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}

.release-info-text {
  margin: 10px 0 15px 0;
  font-size: 14px;
  color: #999;
}

.release-info-cover {
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .release-info-cover {
    float: left;
    padding: 0;
    text-align: center;
  }
}

.release-info-cover a {
  position: relative;
  display: block;
  border: none;
  overflow: hidden;
}

.release-info-cover img {
  display: block;
  width: 100%;
  transition: all 0.2s ease;
}

@media screen and (min-width: 768px) {
  .release-info-cover img {
    width: 300px;
    height: 300px;
  }
}

.release-track {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.release-link {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .release-link:hover img {
    transform: scale(1.1);
    transition: transform 5s ease-out;
  }

  .release-link img {
    transition: transform .5s ease-out;
  }
}

.release-info-cover .fa-search-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -11px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

.release-footer {
  font-size: 14px;
}

.release-footer-text {
  margin: 0 0 15px 0;
  color: #999;
}

.release-footer-download {
  overflow: hidden;
  margin: 0;
  color: #fff;
}

.release-footer-download-title {
  float: left;
}

.release-footer-download-links {
  overflow: hidden;
  padding-left: 5px;
}

.release-footer-download a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 20px;
  white-space: nowrap;
}

.release-footer-download .fa {
  position: absolute;
  top: 2px;
  right: 100%;
  padding-right: 3px;
}

.discography > h2 {
  margin-bottom: 20px;
}

.discography .release {
  display: block;
  margin: 0 0 50px 0;
  text-align: left;
}

.discography .release-info-cover {
  padding: 0;
}

.discography .release-info-cover a:hover img {
  opacity: 0.7;
}

.discography .release-info-cover a:hover .fa-search-plus {
  opacity: 0.9;
}

.discography .release-info-desc {
  text-align: left;
}

.discography .release-info-desc ol {
  display: block;
}

.contact {
  text-align: center;
}

.contact-wrap {
  display: inline-block;
  text-align: left;
}

.footer {
  flex: 0 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

@supports(padding: max(0px)) {
  .footer {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.social-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.social-item a {
  padding: 0 8px;
  border-bottom: none;
  opacity: 0.5;
}

.social-item a:hover {
  opacity: 1;
}
