@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500');

html, body {
  width: 100%;
  height: 100%;
}

html {
  font: 400 15px/1.4 'Fira Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

a {
  color: #fff;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  padding: 40px 20px;
  text-align: center;
}

@supports(padding: max(0px)) {
  .header {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

.header-logo {
  width: 260px;
  height: 19px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 540px;
    height: 42px;
  }
}

.header-logo:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url('../images/logo_new.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header-logo a {
  position: relative;
  display: block;
  height: 100%;
  border: none;
}

.header-title {
  margin: 0;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 17px;
  }
}

.nav {
  overflow-y: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: 500;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .nav-item {
    position: relative;
    padding: 0 20px;
  }
}

.nav-item::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  width: 3px;
  height: 3px;
  margin-top: -1px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item:last-child::after {
  display: none;
}

.nav-item.selected {
  color: #999;
}

.nav-item.selected a {
  border-bottom: none;
  color: rgba(255, 255, 255, 0.7);
}

.main {
  overflow: hidden;
  display: flex;
  flex: 1;
  padding-bottom: 50px;
}

@supports(padding: max(0px)) {
  .main {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

@media screen and (min-width: 768px) {
  .article {
    margin: 0 auto;
    width: 700px;
  }
}

.article-caption {
  display: inline-block;
  padding: 5px;
  margin: 0 0 10px;
  background-color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 10px;
  color: #000;
}

.article-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 39px;
}

.article-text {
  margin: 20px 0 0;
  font-size: 15px;
}

.article-img {
  display: block;
  width: 100%;
}

.release {
  margin-bottom: 100px;
}

.release-title {
  margin: 0 0 5px;
  line-height: 1;
  font-size: 27px;
  font-weight: 500;
}

.release-additional {
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 13px;
}

.release-info {
  margin-bottom: 20px;
  font-size: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .release-info {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .release-info {
    overflow: hidden;
  }
}

.release-info-desc {
  position: relative;
}

@media screen and (min-width: 768px) {
  .release-info-desc {
    overflow: hidden;
    padding-left: 20px;
  }
}

.release-info-list {
  padding: 0;
  margin: 0;
  counter-reset: item;
  list-style: none;
  white-space: nowrap;
  text-align: left;
}

.release-info-item {
  position: relative;
  padding: 7px 7px 7px 25px;
  border-bottom: 1px solid #262626;
}

@media screen and (min-width: 768px) {
  .release-info-item {
    padding-left: 32px;
  }
}

.release-info-item:last-child {
  border-bottom: none;
}

.release-info-item::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: counter(item);
  counter-increment: item;
  color: #999;
  font-weight: 300;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .release-info-item::before {
    left: 7px;
  }
}

.release-info-duration {
  position: absolute;
  top: 8px;
  right: 0;
  color: #999;
  font-weight: 300;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .release-info-duration {
    right: 7px;
  }
}

.release-info-item a {
  display: block;
  margin: -7px -130px -7px -32px;
  padding: 7px 130px 7px 32px;
  border-bottom: none;
}

.release-play-button:hover {
  background-color: #262626;
}

.release-play-button::before {
  visibility: hidden;
}

.release-play-button a::after {
  position: absolute;
  top: 9px;
  left: 0;
  content: "\f04b";
  font-family: "FontAwesome";
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .release-play-button a::after {
    left: 7px;
  }
}

.release-info-text {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 300;
  color: #999;
}

@media screen and (min-width: 768px) {
  .release-info-text {
    padding-left: 7px;
  }
}

.release-info-cover {
  margin: 0 -20px 10px -20px;
}

@media screen and (min-width: 768px) {
  .release-info-cover {
    float: left;
    padding: 0;
    margin: 0 0 10px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .release-info-cover {
    margin: 0;
  }
}

.release-info-cover a {
  position: relative;
  display: block;
  border: none;
  overflow: hidden;
}

.release-info-cover img {
  display: block;
  width: 100%;
  transition: all 0.2s ease;
}

@media screen and (min-width: 768px) {
  .release-info-cover img {
    width: 300px;
    height: 300px;
  }
}

.release-link {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .release-link:hover img {
    transform: scale(1.1);
    transition: transform 5s ease-out;
  }

  .release-link img {
    transition: transform .5s ease-out;
  }
}

.release-info-cover .fa-magnifying-glass-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -11px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

.release-footer {
  font-size: 13px;
}

.release-footer-text {
  margin: 0 0 15px 0;
  color: #999;
}

.release-footer-download {
  display: flex;
  gap: 10px;
}

.release-footer-download-title {
  color: #999;
}

.release-footer-download-links {
  display: flex;
  gap: 10px
}

.release-footer-download-links a:hover {
  border-bottom-color: transparent;
}

.release-footer-download-links a:hover .release-footer-download-brand {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer {
  display: flex;
  padding-bottom: 40px;
  text-align: center;
}

@supports(padding: max(0px)) {
  .footer {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

.social {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
}

.social-item a {
  opacity: 0.5;
}

.social-item a:hover {
  border-bottom: none;
  opacity: 1;
}
